<form *ngIf="task">
  <h2>Edit {{ task.TaskName | uppercase }}</h2>
  <div><span>TaskID: </span> {{ task.TaskID }}</div>
  <div>
    <label>
      TaskName:
      <input
        #TaskName
        name="TaskName"
        [(ngModel)]="task.TaskName"
        placeholder="TaskName" /></label
    ><br />
    <label>
      Task:
      <input
        #Description
        name="Description"
        [(ngModel)]="task.Description"
        placeholder="Description" /></label
    ><br />
    <!-- <label>
    Creator:
    <input #Creator /> 
  </label><br />
  <label>
    Owner:
    <input #Owner /> 
  </label><br /> -->
    <label>
      Status:
      <input
        #Status
        name="Status"
        [(ngModel)]="task.Status"
        placeholder="Status" /></label
    ><br />
    <label>
      Notes:
      <input
        #Notes
        name="Notes"
        [(ngModel)]="task.Notes"
        placeholder="Notes" /></label
    ><br />
    <label>
      Archived?
      <input
        #Archived
        name="Archived"
        [(ngModel)]="task.Archived"
        placeholder="Archived"
      />
    </label>
    <br />
  </div>
  <div>
    <button
      (click)="
        update(
          TaskName.value,
          Description.value,
          Status.value,
          Notes.value,
          Archived.value
        );
        TaskName.value = '';
        Description.value = '';
        Status.value = '';
        Notes.value = '';
        Archived.value = ''
      "
    >
      Update Task
    </button>
    <button (click)="delete()">Delete Task</button>
  </div>
</form>
