<div id="HomeBase">
  <h1>Kanban Web Tracker</h1>

  <h2>Overview</h2>
  <div>
    This web app is a Kanban or card-based system task tracker. This allows you
    to quickly see progress on tasks of an ongoing project. As well as maintain
    more granular data of the
  </div>

  <h3>Tasks</h3>
  <div>
    The Tasks link above will take you to your tasks list. There you will be
    able to add, update, and archive or delete the tasks.
  </div>

  <h3>Tasks by status</h3>
  <div>
    The Tasks by status link above will take you to a page with your tasks organized by status.
    This is a quick view that can be presented to managers or others as a quick update page.
  </div>

  <!-- <h3>Sign In</h3>
  <div>
    The Sign In link above will allow you to sign into the app. This is a way to
    save and maintain your tasks. Google SSO integration is currently in
    development.
  </div> -->
</div>
