<h2>Your Tasks</h2>
<div id="NewTaskForm">
  <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
    <label>
      Task:
      <input #TaskName type="text" /> </label
    ><br />
    <label>
      Description:
      <input #Description /> </label
    ><br />
    <label>
      Status:
      <input #Status /> </label
    ><br />
    <!-- <label>
    Creator:
    <input #Creator /> 
  </label><br />
  <label>
    Owner:
    <input #Owner /> 
  </label><br />
-->
    <label>
      Notes:
      <input #Notes /> </label
    ><br />
    <br />
    <button
      (click)="
        add(TaskName.value, Description.value, Status.value, Notes.value);
        TaskName.value = '';
        Description.value = '';
        Status.value = '';
        Notes.value = ''
      "
    >
      <!-- The following are value params for the above button action. 
    Creator.value = '';
        Owner.value = ''; -->
      Add new Task
    </button>
  </form>
</div>

<div id="TaskList">
  <ul class="tasks">
    <li *ngFor="let task of tasks">
      <a routerLink="/update-task/{{ task.TaskID }}">
        <span class="badge">{{ task.TaskID }}</span> {{ task.TaskName }}
      </a>
    </li>
  </ul>
</div>
<div cdkDropList class="task-list" (cdkDropListDropped)="drop($event)">
  <div class="task-box" *ngFor="let task of tasks" cdkDrag>{{ task.TaskName }}</div>
</div>