<h2>Your Tasks</h2>
<div id="NewTaskForm">
  <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
    <label>
      Task:
      <input #TaskName type="text" /> </label
    ><br />
    <label>
      Description:
      <input #Description /> </label
    ><br />
    <label>
      Status:
      <input #Status /> </label
    ><br />
    <!-- <label>
    Creator:
    <input #Creator /> 
  </label><br />
  <label>
    Owner:
    <input #Owner /> 
  </label><br />
-->
    <label>
      Notes:
      <input #Notes /> </label
    ><br />
    <br />
    <button
      (click)="
        add(TaskName.value, Description.value, Status.value, Notes.value);
        TaskName.value = '';
        Description.value = '';
        Status.value = '';
        Notes.value = ''
      "
    >
      <!-- The following are value params for the above button action. 
    Creator.value = '';
        Owner.value = ''; -->
      Add new Task
    </button>
  </form>
</div>

<div id="TaskList">
  <ul class="tasks">
    <li *ngFor="let task of tasks">
      <a routerLink="/update-task/{{ task.TaskID }}">
        <span class="badge">{{ task.TaskID }}</span> {{ task.TaskName }}
      </a>
    </li>
  </ul>
</div>
<div cdkDropList class="task-list" (cdkDropListDropped)="drop($event)">
  <div class="task-box" *ngFor="let task of tasks" cdkDrag>{{ task.TaskName }}</div>
</div>


<div class="board">
  <div class="card-list mat-elevation-z1" *ngFor="let status of statuses; let i=index">

    <h2 cdkDragHandle class="mat-h2">{{task.title}}</h2>

    <div class="card-list-content" cdkDropList [id]="Status" [cdkDropListData]="task.Status" [cdkDropListConnectedTo]="Status"
      (cdkDropListDropped)="onTaskDrop($event)" >


      <mat-card style="margin: 2%;" *ngFor="let task of tasks" cdkDrag>
        <!-- Use the mat-card-content to add the proper spacing. -->
        <mat-card-content>
          <h2>{{task.title}}</h2>
          {{task.description}}
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>